{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-25" id="shares" name="shares" placeholder="Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary w-25" type="submit">Buy shares</button>
    </form>
{% endblock %}
